@model What2Eat.Models.UserAtributes
@{
    ViewBag.Title = "Register";
}


<h2>Fill Your Data</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Fill Your data</h4>
        <hr />
        @Html.ValidationSummary(true)   


        <div class="form-group">
            @Html.LabelFor(model => model.Age, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Age, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Age)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Height, new { @class = "control-label col-md-2" })
            <div class="col-md-10">                
                @Html.EditorFor(model => model.Height, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Height)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Weight, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Weight, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Weight)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sex, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Sex, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Sex)
            </div>
        </div>
      
        <div class="form-group">
            @Html.LabelFor(model => model.IsVegan, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsVegan, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IsVegan)
            </div>
        </div>   
        <div class="form-group">
            @Html.Label("Activity Level", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @* @Html.DropDownList("sdas", new SelectList(Model.ActivityLevel, "Value", "Key"), new { @class = "control-label col-md-2" }) *@
                <select name="ActivityLevel" class="form-control">
                    @foreach (var entity in What2Eat.Helpers.Bmr.ActivityLevel)
                    {
                        <option value="@entity.Value">@entity.Key</option>
                    }
                </select>
            </div>
        </div>                                              


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Next" class="btn btn-default" name="ComputeCharacteristic" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
