@model What2Eat.Models.UserCharacteristicViewModel

@{
    ViewBag.Title = "MealChoice";
}

<h2>MealChoice</h2>

<div>
    <h4>UserCharacteristicViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bmi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bmi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bmr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bmr)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
